<head>
    <title>Drummers AA</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
{% include header.html %}
<main>
    <div class="day">
    <h3>
        Monday
    </h3>
    <p>
        Beginner's &middot; 8pm
    </p>
        </div>
    <div class="day">
    <h3>
        Tuesday
    </h3>
    <p>
        Meditation &middot; 8pm
    </p>
        </div>
    <div class="day">
    <h3>
        Wednesday
    </h3>
    <p>
        Grapevine &middot; 8pm
    </p>
        </div>
    <div class="day">
    <h3>
        Thursday
    </h3>
    <p>
        Closed discussion &middot; 8pm
    </p>
        </div>
    <div class="day">
    <h3>
        Friday
    </h3>
    <p>
        Rotating format &middot; 8pm
    </p>
        </div>
    <div class="day">
    <h3>
        Saturday
    </h3>
    <p>
        12 &amp; 12 &middot; 8pm
    </p>
        </div>
    <div class="day">
    <h3>
        Sunday
    </h3>
    <p>
        Big Book &middot; 1:30pm
    </p>
        </div>


</main>
{% include footer.html %}
</body>
